<template>
<b-container class="bv-example-row">
	<div id="app">
		<div id="nav">
			<b-row>
				<b-col md="4">
					<router-link to="/"><img alt="Dealabs Logo" src="@/assets/logo.png"></router-link>
				</b-col>
				<b-col md="4">
					<router-link to="/login">Connexion</router-link> | 
					<router-link to="/register">Inscription</router-link>
				</b-col>
				<b-col md="4"><b-button class="btn btn-primary">
					<router-link to="/addNew">Poster</router-link>
					</b-button>
				</b-col>
			</b-row>
		</div>
		<router-view/>
	</div>
</b-container>
</template>

<script>
</script>

<style>
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}

#nav {
	padding: 20px;
	background-color: #435d51;
}

#nav a {
	font-weight: bold;
	color: #2c3e50;
}

#nav a.router-link-exact-active {
	color: #42b983;
}

img {
	height: 25px;
}
</style>
