<template>
	<div>
		<h1>Listes des deals</h1>
		<deal-list></deal-list>
	</div>
</template>

<script>
// @ is an alias to /src
import DealList from "@/components/DealList.vue"

export default {
	name: 'Deals',
	components: {
		"deal-list": DealList
	}
}
</script>