<template>
	<div>
		<h1>Poster un nouveau deal</h1>
		<deal-form></deal-form>
	</div>
</template>

<script>
// @ is an alias to /src
import DealForm from "@/components/DealForm.vue"

export default {
	name: 'PostNewDeal',
	components: {
		"deal-form": DealForm
	}
}
</script>