<template>
	<div>
		<h1>Inscription</h1>
		<register-form></register-form>
	</div>
</template>

<script>
// @ is an alias to /src
import RegisterForm from "@/components/RegisterForm.vue"

export default {
	name: 'RegisterPage',
	components: {
		"register-form": RegisterForm
	}
}
</script>