<template>
	<div>
		<deal v-for="deal in deals" 
			:key="deal.id"
			:id="deal.id"
			:author="deal.author"
			:date="deal.date"
			:title="deal.title"
			:company="deal.company"
			:link="deal.link"
			:degree="deal.degree"
			:pictureLink="deal.pictureLink"
		></deal>
	</div>
</template>

<script>
import Deal from './Deal.vue'

export default {
	mounted() {
		this.fetchData();
	},
	data() {
		return {
			deals: [],
		}
	},
	methods: {
		async fetchData() {
			const res = await fetch("http://localhost:8080/api/Deal/public/");
			this.deals = await res.json();
		}
	},
	components: {
		"deal": Deal
	}
}
</script>

<style scoped>

</style>