<template>
	<b-card 
		no-body class="overflow-hidden">
		<router-link :to="url">
			<b-row no-gutters>
				<b-col md="2">
					<b-card-img :src="pictureLink" alt="Picture" class="rounded-0 img-fluid deal-pic"></b-card-img>
				</b-col>
				<b-col md="6">
					<b-card-body :title="degree + '°'">
						<b-card-text>
							{{title}}
							<br>
							<small class="text-muted">{{author}} | {{company}}</small>
						</b-card-text>
					</b-card-body>
				</b-col>
				<b-col md="4">
					<b-card-body :title="dateToFormat(date)">
						<b-button 
							type="button" 
							class="btn btn-success"
							target="_blank"
							:href="link"
							v-on:click.stop
						>
							Voir
						</b-button>
					</b-card-body>
				</b-col>
			</b-row>
		</router-link>
	</b-card>
</template>

<script>
import moment from "moment"

export default {
	data() {
		return {
			url: "/deal/" + this.id
		}
	},
	props: ["id", "author", "date", "title", "company", "link", "degree", "pictureLink"],
	created() {
	},
	methods: {
		dateToFormat(date) {
			moment.locale("fr");
			return moment(date).format("DD MMMM yy");
		}
	}

	
}
</script>

<style scoped>
.deal-pic {
	padding: 5px;
	width: 100px;
	height: 100px;
	object-fit: contain;
}
</style>