<template>
<div>
	<b-form>
		<b-form-group
			id="input-group-author"
			label="Auteur"
			label-for="input-author"
			>
			<b-form-input
				id="input-author"
				v-model="form.author"
				placeholder="Entrer le nom de l'auteur"
				required></b-form-input>
		</b-form-group>

		<b-form-group
			id="input-group-title"
			label="Titre"
			label-for="input-title"
			>
			<b-form-input
				id="input-title"
				v-model="form.title"
				placeholder="Entrer le titre"
				required></b-form-input>
		</b-form-group>

		<b-form-group
			id="input-group-description"
			label="Description"
			label-for="input-description"
		>
			<b-form-textarea
				id="input-description"
				v-model="form.description"
				placeholder="Entrer la description du deal"
				required
			></b-form-textarea>
		</b-form-group>



		
		<b-row>
			<b-col md=6>
				<b-form-group
					id="input-group-price-old"
					label="Prix original"
					label-for="input-price-old"
					>
					<b-form-input
						id="input-price-old"
						v-model="form.priceOld"
						placeholder="Entrer le prix original"
						required></b-form-input>
				</b-form-group>
			</b-col>
			<b-col md=6>
				<b-form-group
					id="input-group-price-new"
					label="Prix remisé"
					label-for="input-price-new"
					>
					<b-form-input
						id="input-price-new"
						v-model="form.priceNew"
						placeholder="Entrer le prix remisé"
						required></b-form-input>
				</b-form-group>
			</b-col>
		</b-row>
		
		<b-form-group
			id="input-group-company"
			label="Compagnie"
			label-for="input-company"
			>
			<b-form-input
				id="input-company"
				v-model="form.company"
				placeholder="Entrer le nom de la compagnie"
				required></b-form-input>
		</b-form-group>
		
		<b-form-group
			id="input-group-promo-code"
			label="Code promo"
			label-for="input-promo-code"
			>
			<b-form-input
				id="input-promo-code"
				v-model="form.promoCode"
				placeholder="Entrer le code promo"
				required></b-form-input>
		</b-form-group>
		
		<b-form-group
			id="input-group-picture-link"
			label="Lien vers l'image"
			label-for="input-picture-link"
			>
			<b-form-input
				id="input-picture-link"
				v-model="form.pictureLink"
				placeholder="Entrer le lien vers l'image"
				required></b-form-input>
		</b-form-group>
		
		<b-form-group
			id="input-group-link"
			label="Lien vers le deal"
			label-for="input-link"
			>
			<b-form-input
				id="input-link"
				v-model="form.link"
				placeholder="Entrer le lien vers le deal"
				required></b-form-input>
		</b-form-group>

		<b-button @click="onReset" variant="danger">Annuler</b-button>

		<b-button @click="onSubmit" variant="primary">Poster</b-button>
	</b-form>
</div>
</template>

<script>

export default {
	data() {
		return {
			form: {
				author:"",
				date:"",
				degree:0,
				title:"",
				description:"",
				priceOld:null,
				priceNew:null,
				company:"",
				promoCode:"",
				link:"",
				pictureLink:""
			},
			wasSent:null
		}
	},
	methods: {
		onSubmit() {
			this.form.date = new Date();
			this.postRequest(JSON.stringify(this.form));
		},
		onReset() {
			this.form.author="";
			this.form.title="";
			this.form.description="";
			this.form.priceOld=null;
			this.form.priceNew=null;
			this.form.company="";
			this.form.promoCode="";
			this.form.link="";
			this.form.pictureLink="";
			this.wasSent=null;
		},
		postRequest(data) {
			var myHeaders = new Headers();
			myHeaders.append("client-id", "82ffn0yqwo8kc4gfbxlb6molj61cr2");
			myHeaders.append("Authorization", "Bearer 8amd6egnvznyxmrnpf7jxh3ttzdj3u");
			myHeaders.append("Content-Type", "application/json");

			var requestOptions = {
			method: 'POST',
			headers: myHeaders,
			body: data,
			redirect: 'follow'
			};

			fetch("http://localhost:8080/api/Deal", requestOptions)
			.then(this.$router.push("/"));
		},
	}
	
}
</script>

<style scoped>
div {
	text-align: left;
}
</style>