<template>
<div>
	<b-alert show variant="danger" v-if="passwordNotCorrect">Les mots de passes ne concordent pas.</b-alert>
	<b-form>
		<b-form-group
			id="input-group-pseudo"
			label="Pseudo"
			label-for="input-pseudo"
			>
			<b-form-input
				id="input-pseudo"
				v-model="form.pseudo"
				placeholder="Entrer le pseudo"
				required></b-form-input>
		</b-form-group>

		<b-form-group
			id="input-group-lastName"
			label="Nom"
			label-for="input-lastName"
			>
			<b-form-input
				id="input-lastName"
				v-model="form.lastName"
				placeholder="Entrer le nom"
				required></b-form-input>
		</b-form-group>

		<b-form-group
			id="input-firstName"
			label="Prénom"
			label-for="input-firstName"
		>
			<b-form-input
				id="input-firstName"
				v-model="form.firstName"
				placeholder="Entrer le prénom"
				required
			></b-form-input>
		</b-form-group>

		<hr>

		<b-form-group
			id="input-password"
			label="Mot de passe"
			label-for="input-password"
		>
			<b-form-input
				id="input-password"
				v-model="form.password"
				placeholder="Entrer le mot de passe"
				required
			></b-form-input>
		</b-form-group>

		<b-form-group
			id="input-confirmPassword"
			label="Confirmer mot de passe"
			label-for="input-confirmPassword"
		>
			<b-form-input
				id="input-confirm_pasword"
				v-model="confirmPassword"
				placeholder="Confirmer le mot de passe"
				required
			></b-form-input>
		</b-form-group>

		<b-button @click="onReset" variant="danger">Annuler</b-button>

		<b-button @click="onSubmit" variant="primary">Poster</b-button>
	</b-form>
</div>
</template>

<script>

export default {
	data() {
		return {
			form: {
				pseudo:"",
				lastName:"",
				firstName:"",
				password:"",
			},
			confirmPassword:"",
			passwordNotCorrect:false
		}
	},
	methods: {
		onSubmit() {
			if (this.form.confirmPassword != this.form.password) {
				this.passwordNotCorrect = true;
			}
			else {
				this.postRequest(JSON.stringify(this.form));
			}
		},
		onReset() {
			this.form.pseudo="";
			this.form.lastName="";
			this.form.firstName="";
			this.form.password="";
			this.confirmPassword="";
		},
		postRequest(data) {
			var myHeaders = new Headers();
			myHeaders.append("client-id", "82ffn0yqwo8kc4gfbxlb6molj61cr2");
			myHeaders.append("Authorization", "Bearer 8amd6egnvznyxmrnpf7jxh3ttzdj3u");
			myHeaders.append("Content-Type", "application/json");

			var requestOptions = {
			method: 'POST',
			headers: myHeaders,
			body: data,
			redirect: 'follow'
			};

			fetch("http://localhost:8080/api/Deal/user", requestOptions)
			.then(this.$router.push("/"));
		},
	}
	
}
</script>

<style scoped>
div {
	text-align: left;
}
</style>