<template>
	<b-card 
		no-body class="overflow-hidden">
		<b-row no-gutters>
			<b-col md="2">
				<b-card-img :src="pictureLink" alt="Picture" class="rounded-0 img-fluid deal-pic"></b-card-img>
			</b-col>
			<b-col md="6">
				<b-card-body :title="degree + '°'">
					<b-card-text>
						{{id}}
						{{title}}
						<br>
						<small class="text-muted">{{author}} | {{company}}</small>
					</b-card-text>
				</b-card-body>
			</b-col>
			<b-col md="4">
				<b-card-body :title="dateToFormat(date)">
					<b-button 
						type="button" 
						class="btn btn-success"
						target="_blank"
						:href="link"
					>
						Voir
					</b-button>
				</b-card-body>
			</b-col>
		</b-row>
		<b-row no-gutters class="solid-border centered-text">
			<b-col md="12"><h3>Code Promo : {{promoCode}} </h3></b-col>
		</b-row>
		<b-row no-gutters class="solid-border centered-text">
			<b-col md="12"><h3>{{priceOld == -1 ? "Pas de prix" : priceOld}} > {{priceNew}} ({{priceOld == -1 ? "Rien" : Math.round(100-(priceNew * 100 / priceOld)) + "% de remise"}}) </h3></b-col>
		</b-row>
		<b-row no-gutters class="solid-border centered-text">
			<b-col md="12"><p>{{description}}</p></b-col>
		</b-row>
	</b-card>
</template>

<script>
import moment from "moment"

export default {
	created() {
		this.fetchData();
	},
	data() {
		return {
			id: 0,
			author: "",
			date: "",
			title: "",
			company: "",
			link: "",
			priceOld: 0,
			priveNew: 0,
			promoCode: "",
			degree: 0,
			pictureLink: "",
			description: ""
		}
	},
	methods: {
		async fetchData() {
			const res = await fetch("http://localhost:8080/api/Deal/public/"+this.$route.params.id);
			const val = await res.json();
			this.id = this.$route.params.id;
			this.author = val.author;
			this.company = val.company;
			this.date = this.dateToFormat(val.date);
			this.degree = val.degree;
			this.description = val.description;
			this.link = val.link;
			this.pictureLink = val.pictureLink;
			this.priceNew = Math.round(val.priceNew);
			this.priceOld = Math.round(val.priceOld);
			this.promoCode = val.promoCode;
			this.title = val.title;
		},
		dateToFormat(date) {
			moment.locale("fr");
			return moment(date).format("DD MMMM yy");
		}
	}
}
</script>

<style scoped>
.deal-pic {
	padding: 5px;
	width: 100px;
	height: 100px;
	object-fit: contain;
}
.solid-border {
	border: 1px solid #000;;
}
.centered-text {
	text-align: center;
}
</style>